
# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bin/
obj/
./obj/
**/bin/
**/obj/


# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


# Rider files
.idea/
*.sln.iml


# ASP.NET files
appsettings.Development.json
appsettings.Local.json


# NuGet packages
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec


# Entity Framework
Migrations/


# Others
*.log
*.DS_Store
Thumbs.db


# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper


# Test results
TestResults/
*.trx
*.coverage
*.coveragexml


# Code Coverage
*.coverage
*.coveragexml


# Publish
publish/
out/


# Temporary files
*.tmp
*.temp

# SQLite Database files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3